* {
    font-family: "Raleway", sans-serif;
}

body {
    background-color: #000;
}

p, span {
    color: #FFF;
}

.banner,
#course-content,
#transform-world,
#professional-challenges {
    border-bottom: 1px solid #33A8DB80;
}

.banner {
    padding: 50px 10px 10px 10px;
    background-image: 
        url("../../assets/images/banner.png"),
        linear-gradient(rgba(0, 0, 0, .6), rgba(49, 168, 221, .2), rgba(0, 0, 0, .6));
    object-fit: cover;
    text-align: center;
    height: 600px;
    font-size: 1.25rem;
}

.banner .logo {
    margin: auto;
    width: 260px;
    height: 260px;
}

.banner .logo img {
    background-color: #00000050;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
}

.banner h1 {
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(180deg, #33A8DB 0%, #1472B7 100%);
    text-transform: uppercase;

    margin: 15px 0;
    font-size: 2.5rem;
}

.banner p {
    max-width: 500px;
    margin: auto;
    font-size: 1.25rem;
}

.banner button {
    margin-top: 25px;
    width: 325px;
    height: 60px;

    border-image: linear-gradient(180deg, #3BA1CD 0%, #1572B7 100%);
    border-image-slice: 1;
    color: #33A8DB;
    background-color: transparent;

    font-weight: 900;
    font-size: 1rem;
    letter-spacing: 3px;
    text-transform: uppercase;

    cursor: pointer;

    transition: all 0.3s ease;
}

.banner button:hover {
    scale: 1.1;
    box-shadow: 0 0 20px #33A8DB;
    background-color: #33A8DB20;
}

#course-content {
    background-color: #000;
    padding: 100px 10px;
    text-align: center;
}

#course-content h2 {
    background-clip: text;
    color: transparent;
    color: #33A8DB;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
    letter-spacing: 5px;
}

#course-content > p {
    font-size: 1rem;
    margin: 25px auto;
    max-width: 800px;
}

#course-content .modules-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.modules-list .module {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 530px;
    height: 50px;
    background-color: #252525;
    color: #FFF;
    border: 1px solid #33A8DB;
    border-radius: 55px;
}

.modules-list .module span {
    color: #33A8DB;
}

#transform-world {
    height: 360px;
    background-image: url("../../assets/images/woman-code.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

#transform-world p {
    max-width: 250px;
    color: #FFF;

    font-size: 2.5rem;
    text-transform: lowercase;
    text-shadow: 3px 2px #33A8DB;
    font-weight: 900;

    position: relative;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
}

#professional-challenges {
    text-align: center;
    padding: 100px 10px;
}

#professional-challenges h2 {
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 3px;
    color: #33A8DB;
    text-transform: uppercase;
}

#professional-challenges img {
    margin: 30px 0 40px 0;
    width: 100%;
    max-width: 659px;
}

#professional-challenges p {
    max-width: 800px;
    margin: 0 auto;
}