@media (max-width: 470px) {
    .banner h1 {
        font-size: 2rem;
    }

    .banner p {
        font-size: 1rem;
    }

    .banner button {
        width: 100%;
        max-width: 325px;
    }
}