@media (max-width: 470px) {
    .banner h1 {
        font-size: 2rem;
    }

    .banner p {
        font-size: 1rem;
    }

    .banner button {
        width: 100%;
        max-width: 325px;
    }

    #course-content h2 {
        font-size: 1.5rem;
    }
}

@media (max-width: 561px) {
    .modules-list .module {
        width: 100%;
    }
}